[user]
	name = vn7n24fzkq
	email = vn7n24fzkq@gmail.com
[core]
    editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
